<form #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="submit(form)" class="needs-validation"
  novalidate (keydown.enter)="$event.preventDefault()">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{dados.id ? 'Editar':'Nova'}} Condicional</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">

    <div class="row g-3">

      <div class="col-sm-8">
        <div class="row g-3">
          <div class="col-sm-6">
            <b>Título:</b>
            <input type="text" required class="form-control" name="label" [(ngModel)]="dados.label"
              [ngClass]="{'is-invalid': tools.getValidateInput(form, 'label')}">
            <div class="invalid-feedback">
              Preencha o campo.
            </div>
          </div>

          <div class="col-sm-6">
            <b>Descrição:</b>
            <textarea rows="1" class="form-control" name="description" [(ngModel)]="dados.description"
              [ngClass]="{'is-invalid': tools.getValidateInput(form, 'description')}"></textarea>
            <div class="invalid-feedback">
              Preencha o campo.
            </div>
          </div>
        </div>

        <div class="border mt-2 mb-2">
          <app-editor #editor [dados]="dados" [requerido]="true" atributo="text" [form]="form"></app-editor>
        </div>
      </div>

      <div class="col-sm-4">
        <app-fields (changeField)="setField($event)" [block_or_fields]="fields"></app-fields>
      </div>

    </div>

  </div>
  <div class="modal-footer p-2">
    <button type="submit" class="btn btn-sc" [disabled]="loading">
      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" *ngIf="loading"></span>
      <span>Salvar</span>
    </button>
  </div>
</form>
