<form #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="submit(form)" class="needs-validation"
  novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{dados.id ? 'Editar':'Novo'}} FAQ</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">

    <div class="row g-3">
      <div class="col-sm-12">
        <b>Pergunta:</b>
        <input type="text" required class="form-control" name="question" [(ngModel)]="dados.question"
          [ngClass]="{'is-invalid': tools.getValidateInput(form, 'question')}">
        <div class="invalid-feedback">
          Preencha o campo.
        </div>
      </div>

      <div class="col-sm-12">
        <b>Resposta:</b>
        <textarea required class="form-control" name="answer" [(ngModel)]="dados.answer"
          [ngClass]="{'is-invalid': tools.getValidateInput(form, 'answer')}"></textarea>
        <div class="invalid-feedback">
          Preencha o campo.
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer p-2">
    <button type="submit" class="btn btn-sc" [disabled]="loading">
      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" *ngIf="loading"></span>
      <span>Salvar</span>
    </button>
  </div>
</form>
